#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List of of the popular languages that Data Scientists use
- List of the commonly used libraries used by Data Scientists
- Data Science Tools
- Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas

|Data Science Tools|
|---|
|Apache Spark|
|TensorFlow|
|Scikit-learn|

###Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
minutes=int(200)
h=int(minutes/60)
m=minutes%60
time=[h,m]
print(time)

[3, 20]

##Author
Fung Yat To Jason